# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Tokens y secretos
tokens.json
src/services/tokens.json
src/services/facturas_descargadas
src/services/facturas_pdf
src/services/ordenes_descargadas
# Archivos del sistema
.DS_Store

# Archivos temporales y procesados (opcional pero recomendado)
facturas_analizadas.json
ordenes_compra_analizadas.json
*.log